style.css body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

header,
footer {

    background-color: #2dcfff;
    text-align: center;
    padding: 15px;

}

.container {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input,
textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    min-height: 60px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.excluir {
    background-color: #dc3545;
}

button:disabled {
    background-color: #c24141;
    cursor: not-allowed;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #007BFF;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #007BFF !important;
    color: #ddd !important;
}
.card-body {
    background-color: #9ee8ff;
}